@import '../variables.scss';

.root {
  background: #373277;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 1em 1em 0;
  max-width: $max-content-width;
  list-style-type: none;
  font-size: 11.3pt;
}

.container > li {
  display: inline-block;
  vertical-align: top;
  margin: 1em 0 0 1em;
}

.container > li.submit {
  background: #7a7;
  color: #000;
  font-family: 'Roboto', sans-serif;
  border: 1pt solid #777;
  border-radius: 1em;
  width: 8em;
  height: 12em;
  padding: 1em;
  box-shadow: 2pt 2pt 2pt rgba(0,0,0,0.5);
  cursor: pointer;
}

.heading {
  text-align: center;
  background: #333;
  font-size: 24pt;
}